@page "/"
@using FinStarClient.Components

<PageTitle>FinStar Test Case</PageTitle>

@_itemsOnPage
<div class="row d-flex align-items-center">
    <div class="col text-right">
        @if (ListEdit)
        {
            <button class="btn btn-success" @onclick="@AddNew" disabled="@RowBeingEdited">Add New Item</button>
            <button class="btn btn-danger" @onclick="() => ListEdit = false" disabled="@RowBeingEdited">Cancel Edit</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="() => ListEdit = true" disabled="@RowBeingEdited">Edit List</button>
        }
    </div>
</div>
<div class="row d-flex align-items-center mt-2">
    <div class="col text-right">
        <input type="text" @onchange="(e) => FilterData((string)e.Value)" />
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th style="width: 20%">OrderNumber</th>
        <th style="width: 20%">Code</th>
        <th style="width: 40%">Value</th>
        @if (ListEdit)
        {
            <th style="width: 20%;">&nbsp;</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var gridItem in GridData)
    {
        <tr class="@(gridItem.Value.editMode ? "table-danger" : "")">
            @if (gridItem.Value.editMode)
            {
                <td></td>
                <td><input class="form-control" type="text" @bind="@gridItem.Value.data.Code" /></td>
                <td><input class="form-control" type="text" @bind="@gridItem.Value.data.Value" /></td>
            }
            else
            {
                <td>@gridItem.Value.data.OrderNumber</td>
                <td>@gridItem.Value.data.Code</td>
                <td>@gridItem.Value.data.Value</td>
            }
            @if (ListEdit)
            {
                <td class="text-right">
                    <button class="btn btn-primary btn-sm @(gridItem.Value.editMode ? "hidden" : "")" @onclick="@(() => StartEditMode(gridItem.Value.data.OrderNumber))" disabled="@RowBeingEdited">Edit</button>
                    <button class="btn btn-success btn-sm @(gridItem.Value.editMode ? "" : "hidden")" @onclick="@(() => SaveRowEdit(gridItem.Value.data.OrderNumber))">Ok</button>
                    <button class="btn btn-danger btn-sm @(gridItem.Value.editMode ? "" : "hidden")" @onclick="@(() => CancelEditMode(gridItem.Value.data.OrderNumber))">Cancel</button>
                    @if (!NewRecord)
                    {
                        <button class="btn btn-danger btn-sm @(gridItem.Value.editMode ? "" : "hidden")" @onclick="@(() => Delete(gridItem.Value.data.OrderNumber))">Delete</button>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>

<Paginator CurrentPage="_page"
           CurrentPageChanged="@(CurrentPageChange)"
           ItemCount="_itemsOnPage"
           ItemCountChanged="@(ItemsOnPageChange)"
           TotalItemCount="_totalItems"
           ShowFirstLast="true"
           PageCount="_pageCount" />

@if (_totalItems > _itemsOnPage)
{
}
